@import "styles/abstracts/mixins";

.section {
	margin-bottom: 3rem;

	.articles {
		overflow: hidden;
		grid-auto-flow: dense;
		margin: 0 calc(-1 * var(--colGap));
		@include responsive($tablet-p) {
			margin: 0;
		}
	}

	.loadMore {
		margin-top: 3rem;
		width: 100%;
		display: flex;
		justify-content: center;
	}
}
