@import "styles/abstracts/mixins";

.ticker {
	padding: 12px 0;
	width: 100vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	z-index: 4;
	display: block;
	transform: translateZ(0);
}

.viewport {
	overflow: hidden;
	width: 100vw;
	position: relative;
	height: 1rem;
	display: flex;
	flex-direction: row;
	--timer: calc(var(--entries, 5) * 10s);
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		min-width: 100vw;
		display: flex;
		position: absolute;
		justify-content: space-evenly;
		top: 0;
		left: 0;
		&.first {
			transform: translate(0, 0);
			animation: animateFirstList var(--timer) linear infinite;
		}
		&.second {
			transform: translate(100%, 0);
			animation: animateSecondList var(--timer) linear infinite;
		}
	}
	@include on-event {
		ul {
			animation-play-state: paused;
		}
	}
}

.entry {
	display: flex;
	margin-left: 1rem;
	& > * {
		margin-right: 0.5rem;
	}
	.label {
		white-space: nowrap;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		font-weight: 800;
	}
	.value {
		white-space: nowrap;
	}
	.arrow {
		align-self: center;
		width: 0;
		height: 0;
		border-left: 0.5em solid transparent;
		border-right: 0.5em solid transparent;
	}
	&.positive {
		.value {
			color: var(--colour__positive4);
		}
		.arrow {
			border-bottom: 0.5em solid var(--colour__positive4);
		}
	}
	&.negative {
		.value {
			color: var(--colour__negative4);
		}
		.arrow {
			border-top: 0.5em solid var(--colour__negative4);
		}
	}

	&.skeleton {
		pointer-events: none;
		user-select: none;
		.label,
		.value,
		.price {
			border-radius: 2px;
			background: currentColor;
			opacity: 0.1;
		}
		.value {
			border-radius: 2px;
			color: inherit;
			opacity: 0.05;
		}
		.arrow {
			border-radius: 2px;
			border: 0.5em solid currentColor;
			opacity: 0.05;
		}
	}
}

@keyframes animateFirstList {
	0% {
		transform: translate(0, 0);
		opacity: 1;
	}
	50% {
		transform: translate(-100%, 0);
		opacity: 1;
	}
	50.1% {
		transform: translate(-100%, 0);
		opacity: 0;
	}
	50.2% {
		transform: translate(100%, 0);
		opacity: 0;
	}
	50.3% {
		transform: translate(100%, 0);
		opacity: 1;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes animateSecondList {
	0% {
		transform: translate(100%, 0);
		opacity: 1;
	}
	50% {
		transform: translate(0, 0);
		opacity: 1;
	}
	99.7% {
		transform: translate(-100%, 0);
		opacity: 1;
	}
	99.8% {
		transform: translate(-100%, 0);
		opacity: 0;
	}
	99.9% {
		transform: translate(100%, 0);
		opacity: 0;
	}
	to {
		transform: translate(100%, 0);
		opacity: 1;
	}
}
