@import "styles/abstracts/mixins";

.section {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.columns {
	grid-column: grid-start / grid-end;
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
	line-height: 1.6;
	margin-bottom: 10vh;
	@include responsive($tablet-l) {
		margin-bottom: 0;
	}
	position: relative;
}

.link {
	a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		@include on-event {
			text-decoration: none;
			border-bottom-color: currentColor;
		}
	}
}

.pin {
	@include responsive($tablet-l) {
		position: absolute;
		left: -1.2rem;
		opacity: 0.3;
		@include on-event {
			opacity: 1;
		}
	}
}
