@import "styles/abstracts/mixins";

.columns {
	border-top: 1px solid;
	padding-top: var(--gutter);
	padding-bottom: var(--gutter);
	line-height: 1.6;
	margin-bottom: 10vh;
	@include responsive($tablet-l) {
		margin-bottom: 0;
	}
	position: relative;
}

.pin {
	@include responsive($tablet-l) {
		position: absolute;
		left: -1.2rem;
		opacity: 0.3;
		@include on-event {
			opacity: 1;
		}
	}
}
