@import "styles/abstracts/mixins";

.header {
	min-height: 50vh;
	margin: 3rem 0;
	.established {
		grid-column: grid-start / grid-end;
		@include responsive($tablet-p) {
			grid-column: grid-start / col-4;
		}
	}
	.title {
		grid-column: grid-start / grid-end;
		@include responsive($tablet-p) {
			grid-column: col-4 / grid-end;
		}
	}
}

.section {
	margin: 3rem 0;
	.heading {
		margin-bottom: 3rem;
		grid-column: grid-start / grid-end;
		@include responsive($tablet-p) {
			grid-column: grid-start / col-7;
		}
	}
	.subHeading {
		grid-column: grid-start / col-4;
		@include responsive($tablet-p) {
			grid-column: col-7 / col-9;
		}
		margin-bottom: 3rem;
		font-variant-numeric: slashed-zero;
	}
	.textBlock {
		grid-column: col-7 / grid-end;
		@include responsive($tablet-p) {
			grid-column: col-9 / grid-end;
		}
		margin-bottom: 3rem;
		line-height: 1.4;
		p {
			opacity: 0.5;
		}
		h3 {
			font-weight: initial;
			font-size: inherit;
		}
	}
	.divider {
		grid-column: grid-start / grid-end;
		border-top: 1px solid currentColor;
		margin-bottom: 3rem;
		display: block;
		width: 100%;
		opacity: 0.1;
	}
}

.how {
	grid-column: grid-start / grid-end;
	@include responsive($tablet-p) {
		grid-column: grid-start / col-6;
	}
	line-height: 1.4;
}
