@import "styles/abstracts/mixins";
.section {
	margin: 3rem 0;

	.heading {
		margin-bottom: 3rem;
		grid-column: grid-start / grid-end;
		@include responsive($tablet-p) {
			grid-column: grid-start / col-7;
		}

		.title {
			margin-bottom: 2rem;
		}
	}
	.textBlock {
		grid-column: grid-start / grid-end;
		@include responsive($tablet-p) {
			grid-column: col-7 / grid-end;
		}
		margin-bottom: 3rem;
	}
}
