@import "styles/abstracts/mixins";

.section {
	margin: 3rem 0;

	.image {
		order: 1;
		grid-column: grid-start / grid-end;
		margin-bottom: 2rem;
		@include responsive($tablet-p) {
			order: 3;
			grid-column: col-7 / grid-end;
		}
	}
	.heading {
		margin-bottom: 3rem;
		grid-column: grid-start / grid-end;
		@include responsive($tablet-p) {
			grid-row: 1 / 100;
			grid-column: grid-start / col-7;
		}
	}
	.text {
		margin-top: 1rem;
		opacity: 0.5;
	}
	.subHeading {
		grid-column: grid-start / col-4;
		@include responsive($tablet-p) {
			grid-column: col-7 / col-8;
		}
		margin-bottom: 2rem;
		opacity: 0.5;
		font-weight: 300;
	}
	.image {
		grid-column: grid-start / grid-end;
		@include responsive($tablet-p) {
			grid-column: col-7 / screen-end;
		}
	}
	.textBlock {
		grid-column: col-4 / grid-end;
		@include responsive($tablet-p) {
			grid-column: col-8 / grid-end;
		}
		margin-bottom: 2rem;
		line-height: 1.4;
		h3 {
			font-weight: initial;
			font-size: inherit;
		}
	}
}
